<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.san.example.notice.map.ReplyMapper">






	<insert id="insert"
		parameterType="co.san.example.notice.service.ReplyVO">
		<selectKey
			resultType="co.san.example.notice.service.ReplyVO"
			keyProperty="replyId,replyDate" order="BEFORE">
			SELECT SEQ_REPLY.NEXTVAL AS
			replyId, SYSDATE AS replyDate
			FROM DUAL
		</selectKey>
		INSERT INTO REPLY
		VALUES (#{replyId}, #{noticeId}, #{reply},
		#{replyer}, #{replyDate})
	</insert>

	<update id="update"
		parameterType="co.san.example.notice.service.ReplyVO">
		UPDATE REPLY
		<set>
			<if test="reply != null">REPLY = #{reply},</if>
			<if test="replyer != null">REPLYER = #{replyer}</if>
		</set>
		WHERE REPLY_ID = #{replyId}

	</update>

	<delete id="delete"
		parameterType="co.san.example.notice.service.ReplyVO">
		DELETE FROM REPLY WHERE REPLY_ID = #{replyId}
	</delete>

	<select id="selectList"
		resultType="co.san.example.notice.service.ReplyVO">
		SELECT * FROM REPLY
		WHERE NOTICE_ID = #{noticeId}
		ORDER BY
		REPLY_ID DESC
	</select>

	<select id="select"
		resultType="co.san.example.notice.service.ReplyVO">
		SELECT * FROM REPLY
		WHERE REPLY_ID = #{replyId}
	</select>

</mapper>