<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.san.T20230905.map.BookMapper">

	<insert id="insert"
		parameterType="co.san.T20230905.service.BookVO">

		INSERT INTO BOOK
		VALUES (#{bkCode}, #{bkTitle},
		#{bkAuthor},
		#{bkPress},#{bkPrice})
	</insert>

	<update id="update"
		parameterType="co.san.T20230905.service.BookVO">
		UPDATE BOOK
		<set>
			<if test="bkPrice != null">BK_PRICE = #{bkPrice},</if>
		</set>
		WHERE BK_CODE = #{bkCode}

	</update>

	<delete id="delete"
		parameterType="co.san.T20230905.service.BookVO">
		DELETE FROM BOOK WHERE BK_CODE = #{bkCode}
	</delete>

	<select id="selectList"
		resultType="co.san.T20230905.service.BookVO">
		SELECT * FROM BOOK
	</select>

</mapper>